<div class="container">    
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="contents text-center">
                <h2 class="head-title text-secondary">
                    SaaS (Software as a service) is a way of delivering applications over the Internet
                </h2>
                <div class="header-button">
                    <button class="btn btn-info" (click)="onServices()">Explore Features</button>
                </div>
            </div>
            <div class="img-thumb">
                <img class="img-fluid" src="../../assets/images/explore.png" alt="">
            </div>
        </div>
    </div>
</div>